@import 'tailwindcss';

/*fonts*/
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');
@font-face {
  font-family: 'GmarketSans';
  src: url('/fonts/GmarketSansTTFBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  /* Brand color */
  --color-brand: #e56c31;
  --color-brand-foreground: #fefefe;

  /* Secondary color */
  --color-secondary: #f6b93b;
  --color-secondary-foreground: #fefefe;

  /* Fonts */
  --font-sans: 'Pretendard', sans-serif;
  --font-display: 'GmarketSans', 'Pretendard', sans-serif;
}

@layer base {
  body {
    margin: 0;
    font-family: var(--font-sans);
  }
}
